{% extends 'assets/layout.html' %}
{% load  widget_tweaks %}
{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-12">
            <div class="text-center my-5">
                <h1 class="">Dzienny Montaż</h1>
            </div>

        </div>
    </div>
    <form class="form-horizontal" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <label class="form-label" for="form1Example1" style="margin-left: 0px;">Ekipa:</label>
                    {% render_field form_daily.team class="form-select" id="form1Example1" %}
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <label class="form-label" for="form2Example2" style="margin-left: 0px;">Typ:</label>
                    {% render_field form_daily.type class="form-select" id="form2Example2" %}
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <label class="form-label" for="form3Example1" style="margin-left: 0px;">Dzień:</label>
                    {% render_field form_daily.day_montage class="form-select" id="form3Example1" %}
                </div>
            </div>
        </div>

        {{ formset.management_form }}
        {% for form in formset %}
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <label class="form-label" for="form4Example1" style="margin-left: 0px;"> Montarzysta:</label>
                    {% render_field form.name class="form-select" id="form4Example1" %}
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <label class="form-label" for="form5Example4" style="margin-left: 0px;">Status Pracy:</label>
                    {% render_field form.status class="form-select" id="form5Example4" %}
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="row my-5">
            <div class="col-8 offset-2 my-5">
                <button type="submit" class="btn btn-block btn-dark">Dodaj</button>
            </div>
        </div>
    </form>
    </div>
{% endblock %}