

<div class="lightbox-gallery">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Zdjęcia montażu</h2>
        </div>
        <div class="row photos">
            {% for image in montage.get_images %}
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{ MEDIA_URL }}{{ image.images }}" data-lightbox="photos"><img class="img-fluid" src="{{ MEDIA_URL }}{{ image.images }}" alt="{{ forloop.counter }}" width="330" height="330"></a></div>
           {% endfor %}
        </div>
    </div>
</div>