{% extends 'assets/layout.html' %}
{% block title %}Montażyści{% endblock %}

{% block content %}
 {% if messages %}
        <div class="alert">
            {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'info' %}info{% endif %}" role="alert">
                    <h4 class="alert-heading">INFORMACJA</h4>
                    <p>{{ message }}</p>
                    <hr>
                </div>

            {% endfor %}
        </div>
    {% endif %}
    <div class="container pt-5">
        <div class="row d-fle justify-content-center align-items-center" style="height: 250px">
            {% if request.user.is_staff or request.user.is_superuser %}
                <div class="col-auto"><a href="{% url 'core:add_monter' %}" id="add_team" class="btn btn-sm btn-dark">Dodaj
                    Montażyste</a></div>
            {% endif %}
        </div>
        <div class="row d-fle justify-content-center align-items-center" style="height: 50px">
            {% for monter in monters %}
                <div class="col-auto mb-5"><a href="{% url 'core:monter_data_list' pk=monter.pk name=monter.name %}" class="btn btn-sm btn-dark">{{ monter.name }}</a></div>
            {% endfor %}

        </div>
    </div>

{% endblock %}