{% extends 'assets/layout.html' %}
{% block title %}Ekipy Montażowe{% endblock %}

{% block content %}

    <div class="container pt-5">
        <div class="row d-fle justify-content-center align-items-center" style="height: 250px">
            {% if request.user.is_staff or request.user.is_superuser %}
                <div class="col-auto"><a href="{% url 'core:add_team' %}" id="add_team" class="btn btn-sm btn-dark">Dodaj
                    Ekipe</a></div>
            {% endif %}
        </div>
        <div class="row d-fle justify-content-center align-items-center" style="height: 50px">
            {% for team in teams %}
                <div class="col-auto"><a class="btn btn-sm btn-dark">{{ team.team }}</a></div>
            {% endfor %}

        </div>
    </div>

{% endblock %}