<div class="row my-5">
    <div class="col">
        <a href="{% url 'core:example_table' pk=pk month=1 year=date_year%}" id="add_team" class="btn btn-sm btn-dark">STYCZEŃ</a>
    </div>
    <div class="col">
        <a href="{% url 'core:example_table' pk=pk month=2 year=date_year %}" id="add_team" class="btn btn-sm btn-dark">LUTY</a>
    </div>
    <div class="col">
        <a href="{% url 'core:example_table' pk=pk month=3 year=date_year %}" id="add_team" class="btn btn-sm btn-dark">MARZEC</a>
    </div>
    <div class="col">
        <a href="{% url 'core:example_table' pk=pk month=4 year=date_year %}" id="add_team" class="btn btn-sm btn-dark">KWIECIEŃ</a>
    </div>
    <div class="col">
        <a href="{% url 'core:example_table' pk=pk month=5 year=date_year %}" id="add_team" class="btn btn-sm btn-dark">MAJ</a>
    </div>
    <div class="col">
        <a href="{% url 'core:example_table' pk=pk month=6 year=date_year %}"id="add_team" class="btn btn-sm btn-dark">CZERWIEC</a>
    </div>
    <div class="col">
        <a href="{% url 'core:example_table' pk=pk month=7 year=date_year %}" id="add_team" class="btn btn-sm btn-dark">LIPIEC</a>
    </div>
    <div class="col">
        <a href="{% url 'core:example_table' pk=pk month=8 year=date_year%}" id="add_team" class="btn btn-sm btn-dark">SIERPIEŃ</a>
    </div>
    <div class="col">
        <a href="{% url 'core:example_table' pk=pk month=9 year=date_year %}" id="add_team" class="btn btn-sm btn-dark">WRZESIEŃ</a>
    </div>
    <div class="col">
        <a href="{% url 'core:example_table' pk=pk month=10 year=date_year%}" id="add_team" class="btn btn-sm btn-dark">PAŹDZIERNIK</a>
    </div>
    <div class="col">
        <a href="{% url 'core:example_table' pk=pk month=11 year=date_year %}" id="add_team" class="btn btn-sm btn-dark">LISTOPAD</a>
    </div>
    <div class="col">
        <a href="{% url 'core:example_table' pk=pk month=12 year=date_year %}"id="add_team" class="btn btn-sm btn-dark">GRUDZIEŃ</a>
    </div>

</div>