{% extends 'assets/layout.html' %}
{% block content %}
    <div class="container" style="width: 500px;height: 500px;">
         <canvas id="prices" width="500" height="400"></canvas>
    </div>
{% endblock %}

{% block extra_javascript %}
   <script type="text/javascript">
            $.get('{% url "stats:bar_chart_json" %}', function(data) {
                var ctx = $("#prices").get(0).getContext("2d");
                new Chart(ctx, {
                    type: 'bar', data: data
                });
            });
        </script>
{% endblock %}