{% extends 'assets/layout.html' %}
{% block title %}Strona Główna{% endblock %}

{% block content %}

    <div class="container pt-5">
        <div class="row d-fle justify-content-center align-items-center" style="height: 350px">
            <div class="col-auto"><a href="{% url 'core:montage_post' %}" class="btn btn-sm btn-dark">START PRACY</a></div>
            <div class="col-auto"><a href="{% url 'core:end_work' %}" class="btn btn-sm btn-dark">KONIEC PRACY</a></div>
            <div class="col-auto"><a class="btn btn-sm btn-dark">MONTAŻ</a></div>
        </div>
    </div>

{% endblock %}