{% extends 'assets/layout.html' %}
{% load thumbnail %}
{% block title %}Szczegóły Montażu{% endblock %}
{% block  content %}
    <div class="container py-5 h-50">
        <div class="row d-flex justify-content-center align-items-center h-75">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div id="add_team" class="card bg-dark text-white"
                     style="border-radius: 1rem;background-color: #22223B!important;">
                    <div class="card-body p-5 text-center">

                        <div class="row pt-2">
                            <div class="col">
                                <p>Montaż:</p>
                                <small>{{ montage.days }}</small>
                            </div>
                            <div class="col">
                                <p>STATUS</p>
                                <small class="text-danger font-weight-bold">{{ montage.status }}</small>
                            </div>
                            <div class="col">
                                <p>WYCENA</p>
                                <small>{{ montage.paid }}</small>
                            </div>
                            <div class="col">
                                <p>SZAFKI</p>
                                <small>{{ montage.cabinet }}</small>
                            </div>
                        </div>


                        {% if montage.comment %}
                            <div class="row pt-5">
                                <div class="col">
                                    <p>KOMENTARZ</p>
                                    <small>{{ montage.comment }}</small>
                                </div>
                            </div>
                        {% endif %}
                        <div class="row pt-5">
                            <div class="col">
                                <p>ZABUDOWA?</p>
                                <small>{% if montage.build is False %}BRAK{% else %}TAK{% endif %}</small>
                            </div>
                            <div class="col">
                                <p>GZYMS?</p>
                                <small>{% if montage.cornice is False %}BRAK{% else %}TAK{% endif %}</small>
                            </div>
                        </div>

                        <div class="row pt-5">
                            <div class="col">
                                <p>ILOŚĆ RZYMSKICH</p>
                                <small>{{ montage.turnbuckles }}</small>
                            </div>
                            <div class="col">
                                <p>ŁĄCZENIE BLATÓW</p>
                                <small>{{ montage.type_table }}</small>
                            </div>
                        </div>

                        <div class="row pt-5">
                            <div class="col">
                                <p>EKIPA</p>
                                <small class="text-info font-weight-bold">{{ montage.montage.team }}</small>
                            </div>
                            <div class="col">
                                <p>DATA:</p>
                                <small>{{ montage.date }}</small>
                            </div>
                            <div class="col">
                                <p>RODZAJ</p>
                                <small>{{ montage.montage.type }}</small>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if montage.get_video %}
        <div class="container mt-4">
            <div class="row">
                <div class="intro">
                    <h2 class="text-center">Filmy</h2>
                </div>
            </div>
            <div class="row">

                {% for video in montage.get_video %}
                    <video controls="controls" width="200" height="200" name="{{ video}}">
                        <source src="{{ MEDIA_URL }}{{ video.file}}">
                    </video>

                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="container mt-4">
        <div class="row">
            <div class="intro">
                <h2 class="text-center">Dodatkowe zdjęcia</h2>
            </div>
            <p class="text-center pt-2">
                <a class="btn btn-dark" href="{% url 'core:update_montage_images' pk=pk %}">Dodaj dodatkowe zdjecia</a>
            </p>

        </div>
    </div>
    {% include 'assets/lightbox.html' %}

{% endblock %}
