{% extends 'assets/layout.html' %}
{% load thumbnail %}
{% block title %}Szczegóły Montażu{% endblock %}
{% block  content %}
    <div class="container py-5 h-50">
        <div class="row d-flex justify-content-center align-items-center h-75">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div id="add_team" class="card bg-dark text-white"
                     style="border-radius: 1rem;background-color: #22223B!important;">
                    <div class="card-body p-5 text-center">

                        <div class="row pt-2">
                            <div class="col">
                                <p>Montaż:</p>
                                <small>{{ montage.days }}</small>
                            </div>
                            <div class="col">
                                <p>STATUS</p>
                                <small class="text-danger font-weight-bold">{{ montage.status }}</small>
                            </div>
                            <div class="col">
                                <p>WYCENA</p>
                                <small>{{ montage.paid }}</small>
                            </div>
                            <div class="col">
                                <p>SZAFKI</p>
                                <small>{{ montage.cabinet }}</small>
                            </div>
                        </div>


                        {% if montage.comment %}
                        <div class="row pt-5">
                            <div class="col">
                                <p>KOMENTARZ</p>
                                <small>{{ montage.comment }}</small>
                            </div>
                        </div>
                        {% endif %}
                        <div class="row pt-5">
                            <div class="col">
                                <p>ZABUDOWA?</p>
                                <small>{% if montage.build is False %}BRAK{% else %}TAK{% endif %}</small>
                            </div>
                            <div class="col">
                                <p>GZYMS?</p>
                                <small>{% if montage.cornice is False %}BRAK{% else %}TAK{% endif %}</small>
                            </div>
                        </div>

                    <div class="row pt-5">
                        <div class="col">
                            <p>ILOŚĆ RZYMSKICH</p>
                            <small>{{ montage.turnbuckles }}</small>
                        </div>
                        <div class="col">
                            <p>ŁĄCZENIE BLATÓW</p>
                            <small>{{ montage.type_table }}</small>
                        </div>
                    </div>

                    <div class="row pt-5">
                            <div class="col">
                                <p>EKIPA</p>
                                <small class="text-info font-weight-bold">{{ montage.montage.team }}</small>
                            </div>
                            <div class="col">
                                <p>DATA:</p>
                                <small>{{ montage.date }}</small>
                            </div>
                            <div class="col">
                                <p>RODZAJ</p>
                                <small>{{ montage.montage.type }}</small>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
{% include 'assets/lightbox.html' %}
{#    <div class="container text-center my-3">#}
{#        <div class="row mx-auto my-auto justify-content-center">#}
{#            <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">#}
{#                <div class="carousel-inner" role="listbox">#}
{#                    {% for image in montage.get_images %}#}
{#                        <div class="carousel-item {% if forloop.first %}active{% endif %}">#}
{#                            <div class="col-auto px-1">#}
{##}
{#                                <img src="{{ MEDIA_URL }}{{ image.images }}" width="330"#}
{#                                     height="330">#}
{##}
{#                            </div>#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                </div>#}
{#                <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button"#}
{#                   data-bs-slide="prev">#}
{#                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
{#                </a>#}
{#                <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button"#}
{#                   data-bs-slide="next">#}
{#                    <span class="carousel-control-next-icon" aria-hidden="true"></span>#}
{#                </a>#}
{#            </div>#}
{#        </div>#}
{##}
{#    </div>#}
{% endblock %}
{#{% block extra_javascript %}#}
{##}
{##}
{#    <script type="text/javascript">#}
{#        let items = document.querySelectorAll('.carousel .carousel-item')#}
{##}
{#        items.forEach((el) => {#}
{#            const minPerSlide = 4#}
{#            let next = el.nextElementSibling#}
{#            for (var i = 1; i < minPerSlide; i++) {#}
{#                if (!next) {#}
{#                    // wrap carousel by using first child#}
{#                    next = items[0]#}
{#                }#}
{#                let cloneChild = next.cloneNode(true)#}
{#                el.appendChild(cloneChild.children[0])#}
{#                next = next.nextElementSibling#}
{#            }#}
{#        })#}
{##}
{#    </script>#}
{#{% endblock %}#}