{% extends 'assets/layout.html' %}
{% block title %}Szczegóły Montażu{% endblock %}
{% block  content %}
<div class="container py-5 h-50">
        <div class="row d-flex justify-content-center align-items-center h-75">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div id="add_team" class="card bg-dark text-white" style="border-radius: 1rem;background-color: #22223B!important;">
                    <div class="card-body p-5 text-center">
                        ss
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}